#root {
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.profilePic{
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  margin-top: 5rem;
}

@media only screen and (max-width:600px) {
  .profilePic{
    width: 80%;
    height: 85%;
  }

}