nav {
  display: grid;
  grid-template-rows: 0fr 0.7fr 1fr;
}

.profile--name {
  margin: 10;
}

.profile-row {
  margin: 0;
  color: #f3bf99;
}

.btnContainer {
  display: grid;
  grid-template-columns: 1fr 01fr;
  justify-self: center;
  column-gap: 2rem;
}

.btnContainer > a,
button {
  width: 12rem;
  height: 3.5rem;
  border-radius: 12px;
  align-items: center;
  font-size: large;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 800;
}

.emailBtn {
  background-color: #ffffff;
  color: #374151;
}

.LinkedinBtn {
  background-color: #5093e2;
  color: white;
}

@media only screen and (max-width: 700px) {
  .btnContainer {
    column-gap: 1.5rem;
  }
  .btnContainer > a,
  button {
    width: 10rem;
    height: 3rem;
  }
}

@media only screen and (max-width:400px){
  
  .btnContainer {
    column-gap: 1rem;
  }
  .btnContainer > a,
  button {
    width: 9rem;
    height:2.8rem;
  }

}